extends layout

block navbar

block content
  div.container-fluid
    div.vertical-center
      div.row(class = "text-center")
        div.span4
        div.span4
          img(src = "/images/apolloLogo.png", alt = "Apollo Logo")
        div.span4
        div.spaceBox
        div.span2
        div.span8
          form(method="post")
            a(href = "/login" role="button" class = "btn btn-primary initialButton" type = "submit") Log In
          form(method="post")
            a(href = "/create-user" role="button" class = "btn btn-success initialButton" type = "submit") Create Account
        div.span2

