extends layout

block content
    label Change Password:
        input(type="password", name= "password", id="password", placeholder="New password")
    button(onclick = 'updatePass()') Submit
    br
    br
    button(onclick = 'deleteAccount()') Delete Account!!!!!!!