extends layout

block content
    div.container-fluid
        div.row(class = "content")
            div.col-sm-10
                div.row(class = "librarySubheader")
                    div.dropdown
                        button.btn(class = "btn-default dropdown-toggle" type="button" id="chooseTrackDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") List tracks...
                            span.caret
                        ul.dropdown-menu(aria-labelledby="chooseTrackDropdown")
                            li
                                a(id="alltracks") All tracks (personal and group)
                            li
                                a(id="mytracks") Only my tracks
                            li
                                a(id="top50tracks") Top 50 Tracks You Need!
                div.trackListing
            div.col-sm-2(class = "sidenav")
                div.well
                    div.row
                        p Playlist 1
                    div.row
                        p Playlist 2
                    div.row
                        p Playlist 3

    footer.container-fluid(class = "text-center")
        audio
            controls
            source(src = "" type = "audio/mpeg")
